* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.header {
    width: 100%;
    height: 56px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 16px;
    position: fixed;
    z-index: 1;
    background-color: rgb(255, 255, 255);
}
.burger-menu {
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    margin-right: 16px;
    border-radius: 50%;
    cursor: pointer;
}
i.fas.fa-bars:before {
    font-size: 20px;
    text-align: center;
    line-height: 40px;
}
.logo {
    width: 80px;
    height: 40px;
    padding-top: 10px;
}
.logo img {
    width: 80px;
    height: 20px;
}
.main {
    display: flex;
    flex-direction: row;
    position: relative;
    top: 56px;  
}
.left-menu {
    background-color: #f5f5f5;
    height: calc(100vh - 56px);
    width: 240px;
    overflow: scroll;
    overflow-x: hidden; 
    position: fixed;
}
.left-menu li {
    list-style: none;
}
.list-content {
    border-bottom: solid 1px #6666;
}
.list-content a {
    text-decoration: none;
    color: black;
}
.list-item {
    height: 40px;
    display: inline-flex;
    align-items:  center;
    vertical-align: middle;
    font-size: 14px;
    font-weight: 500;
    padding: 12px 24px;
    width: 240px;
    color :#606060;
    position: relative;
}
.list-item .fas {
    margin-right: 24px;
    font-size: 16px;
    color: lightslategray;
}
.list-item:hover {
    background-color: #ccc;
}
.list-item:active {
    background-color: #c6c6c6;
}
.list-content a:focus .focused {
   color: #cc0000;
}
.hover-text {
    visibility: hidden;
    font-size: 12px;
    color: black;
    background-color: white;
    padding: 5px 10px;
    border: 1px solid #6666;
    font-weight: 400;
    display: inline;
    position: absolute;
    top: 45px;
    left: 30px;
    z-index: 10;
}
.fa-home:hover .hover-text,
.fa-fire:hover .hover-text,
.fa-history:hover .hover-text,
.fa-music:hover .hover-text,
.fa-futbol:hover .hover-text,
.fa-gamepad:hover .hover-text,
.fa-newspaper:hover .hover-text,
.fa-video:hover .hover-text,
.fa-podcast:hover .hover-text,
.fa-plus-circle:hover .hover-text,
.fa-broadcast-tower:hover .hover-text,
.fa-cog:hover .hover-text,
.fa-flag:hover .hover-text,
.fa-question-circle:hover .hover-text,
.fa-comment-alt:hover .hover-text {

    visibility: visible;
    
}
.list-title {
    font-size: 14px;
    padding: 12px 24px;
    display: inline-flex;
    align-items:  center;
    vertical-align: middle;
    color :#606060;
}
.list-text {
    width: 200px;
    margin: 12px 0 12px 24px;
    padding: 0 48px 0 0;
    word-wrap: break-word;
}
.signin {
    color: #065fd4;
    cursor: pointer;
    font-weight: 600;
}
.list-text:hover, .signin:hover {
    background-color: transparent;
}
.aboutUs {
    padding: 12px 24px;
}
.aboutUs a{
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
    color: #606060;
}
.copyright {
    width: 240px;
    padding: 0 0 24px 24px;
    color: #606060;
    font-size: 12px;
}
.main-conteiner {
    background-color: red;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;   
}
.videoebi {
    width: 210px;
    height: 118px;
    background-color: #606060;
    margin: 30px;
}